body {
    margin: 0px;
    line-height: 1.5;
    font-family: 'Source Sans Pro', sans-serif;
    background: black;
    color: white;
}

.front-page-left {
    background-color: rgb(222, 222, 222);
    position: absolute;
    top: 0%;
    right: 50%;
    left: 0%;
    bottom: 0%;
    color: rgb(30, 30, 30);
    z-index: 0;
}

.front-page-right {
    background-color: rgb(30, 30, 30);
    position: absolute;
    top: 0%;
    right: 0%;
    left: 50%;
    bottom: 0%;
    color: rgb(222, 222, 222);
    z-index: 0;
}

.vertical-center {
    position: absolute;
    top: 45%;
}

.right-fp-header {
    left: 0%;
    padding: 0px 0px 0px 0.1em;
    font-size: 5em;
}

.left-fp-header {
    right: 0%;
    padding: 0px 0.1em 0px 0px;
    font-size: 5em;
}

.swipe-arrow-right {
    padding: 0px 0px 0px 2%;
    position: absolute;
    top: 2%;
    left: 0%;
    font-size: 3em;
}

.swipe-arrow-left {
    padding: 0px 2% 0px 0px;
    position: absolute;
    bottom: 2%;
    right: 0%;
    font-size: 3em;
}

.temp {
    margin-top: 5em;
    display: flex;
    justify-content: center;
    align-items: center;
}