body {
    margin: 0px;
    line-height: 1.5;
    font-family: 'IBM Plex Mono', monospace;
    background: rgb(30, 30, 30);
    color: white;
}

#front-page-left {
    background-color: rgb(222, 222, 222);
    position: absolute;
    top: 0%;
    right: 50%;
    left: 0%;
    bottom: 0%;
    color: rgb(30, 30, 30);
    z-index: 0;
}

#front-page-right {
    background-color: rgb(30, 30, 30);
    position: absolute;
    top: 0%;
    right: 0%;
    left: 50%;
    bottom: 0%;
    color: rgb(222, 222, 222);
    z-index: 0;
}

.vertical-center {
    position: absolute;
    top: 45%;
}

#right-fp-header {
    left: 0%;
    padding: 0px 0px 0px 0.1em;
    font-size: 5em;
}

#left-fp-header {
    right: 0%;
    padding: 0px 0.1em 0px 0px;
    font-size: 5em;
}

#swipe-arrow-right {
    padding: 0px 0px 0px 2%;
    position: absolute;
    top: 2%;
    left: 0%;
    font-size: 3em;
}@media screen and (max-width: 800px) {
    #swipe-arrow-right {
        font-size: 5em;
        margin-left: 4%;
    }
}

#swipe-arrow-left {
    padding: 0px 2% 0px 0px;
    position: absolute;
    bottom: 2%;
    right: 0%;
    font-size: 3em;
}@media screen and (max-width: 800px) {
    #swipe-arrow-left {
        font-size: 5em;
        margin-right: 4%;
    }
}

* {
    box-sizing: border-box;
}

.grid-display {
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    justify-content: center;
}

.img-grid-element {
    flex: 25%;
    max-width: 25%;
}@media screen and (max-width: 800px) {
    .img-grid-element {
       flex: 100%;
       max-width: 100%;
    }
}

.img-grid-element img {
    width: 100%;
}

#newline-type {
    width: 40%;
    padding: 1em;
    margin-bottom: 4em;
}